workflow_check.json
{"updatedAt":"2026-03-17T16:54:51.603Z","createdAt":"2026-03-17T16:48:51.267Z","id":"uK16AGZ16p1j21CA","name":"TEG+ | Omie - Enviar Remessa","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"omie/enviar-remessa","responseMode":"responseNode","options":{}},"id":"webhook-remessa-01","name":"Webhook Remessa","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"webhookId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"https://uzfjfucrinokeuwpbeie.supabase.co/rest/v1/sys_config?select=chave,valor&chave=in.(omie_app_key,omie_app_secret,omie_sandbox_mode,omie_sandbox_app_key,omie_sandbox_app_secret)","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg"}]},"options":{}},"id":"get-creds-01","name":"Get Omie Credentials","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"language":"javaScript","jsCode":"// Get webhook body\nconst webhookItem = $('Webhook Remessa').first().json;\nconst body = webhookItem.body ?? webhookItem;\nconst contas = body.contas ?? [];\n\n// Get Omie credentials from sys_config rows\nconst configRows = $('Get Omie Credentials').all().map(i => i.json);\nconst cfg = {};\nfor (const row of configRows) {\n  cfg[row.chave] = row.valor;\n}\n\n// Determine sandbox vs production\nconst isSandbox = cfg.omie_sandbox_mode === 'true';\nconst appKey = (isSandbox && cfg.omie_sandbox_app_key) ? cfg.omie_sandbox_app_key : cfg.omie_app_key;\nconst appSecret = (isSandbox && cfg.omie_sandbox_app_secret) ? cfg.omie_sandbox_app_secret : cfg.omie_app_secret;\n\nif (!appKey || !appSecret) {\n  throw new Error('Credenciais Omie nao configuradas em sys_config');\n}\n\nconst OMIE_URL = 'https://app.omie.com.br/api/v1/financas/contapagar/';\nconst SB_URL = 'https://uzfjfucrinokeuwpbeie.supabase.co';\nconst SB_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg';\nconst SB_HEADERS = {\n  'apikey': SB_KEY,\n  'Authorization': `Bearer ${SB_KEY}`,\n  'Content-Type': 'application/json'\n};\n\nfunction toOmieDate(d) {\n  if (!d) return new Date().toLocaleDateString('pt-BR', {day:'2-digit',month:'2-digit',year:'numeric'});\n  const [y, m, dd] = d.split('-');\n  return `${dd}/${m}/${y}`;\n}\n\nconst resultados = [];\nlet incluidos = 0;\nlet erros = 0;\n\nfor (const cp of contas) {\n  if (!cp.id) continue;\n  if (cp.omie_cp_id) {\n    resultados.push({ cpId: cp.id, omieId: cp.omie_cp_id, status: 'ja_existe' });\n    incluidos++;\n    continue;\n  }\n  try {\n    const omieBody = {\n      call: 'IncluirContaPagar',\n      app_key: appKey,\n      app_secret: appSecret,\n      param: [{\n        cabecalho: {\n          nCodFornecedor: cp.omie_fornecedor_id ?? 0,\n          cNumDocumento: cp.numero_documento ?? `TEG-${cp.id.slice(0,8).toUpperCase()}`,\n          dDtEmissao: toOmieDate(cp.data_emissao),\n          dDtVenc: toOmieDate(cp.data_vencimento),\n          nValorDocumento: Number(cp.valor_original),\n          cObservacao: cp.descricao ?? `CP TEG+ ${cp.id}`\n        }\n      }]\n    };\n    const omieRes = await fetch(OMIE_URL, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(omieBody)\n    });\n    const omieData = await omieRes.json();\n    if (omieData.faultstring) throw new Error(omieData.faultstring);\n    const nCodCP = omieData.nCodCP;\n    await fetch(`${SB_URL}/rest/v1/fin_contas_pagar?id=eq.${cp.id}`, {\n      method: 'PATCH',\n      headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({\n        omie_cp_id: nCodCP,\n        remessa_status: 'enviada',\n        remessa_enviada_em: new Date().toISOString(),\n        remessa_id: String(nCodCP)\n      })\n    });\n    resultados.push({ cpId: cp.id, omieId: nCodCP, status: 'incluido' });\n    incluidos++;\n  } catch (err) {\n    const msg = String(err.message ?? 'Erro desconhecido');\n    await fetch(`${SB_URL}/rest/v1/fin_contas_pagar?id=eq.${cp.id}`, {\n      method: 'PATCH',\n      headers: SB_HEADERS,\n      body: JSON.stringify({ remessa_status: 'erro', remessa_erro: msg })\n    });\n    resultados.push({ cpId: cp.id, omieId: null, status: 'erro', mensagem: msg });\n    erros++;\n  }\n}\n\nconst remessaId = `REM-OMIE-${Date.now()}`;\nawait fetch(`${SB_URL}/rest/v1/fin_sync_log`, {\n  method: 'POST',\n  headers: SB_HEADERS,\n  body: JSON.stringify({\n    dominio: 'remessa_pagamento',\n    status: erros === 0 ? 'success' : 'partial',\n    registros: contas.length,\n    mensagem: `Remessa Omie: ${incluidos} incluida(s), ${erros} erro(s). Ambiente: ${isSandbox ? 'teste' : 'producao'}`,\n    executado_por: 'n8n'\n  })\n});\n\nreturn [{ json: { success: true, remessaId, registros: contas.length, incluidos, erros, resultados, ambiente: isSandbox ? 'teste' : 'producao' } }];"},"id":"processar-01","name":"Processar Remessa Omie","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"respond-01","name":"Responder Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,300]}],"connections":{"Webhook Remessa":{"main":[[{"node":"Get Omie Credentials","type":"main","index":0}]]},"Get Omie Credentials":{"main":[[{"node":"Processar Remessa Omie","type":"main","index":0}]]},"Processar Remessa Omie":{"main":[[{"node":"Responder Sucesso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b9571180-63a6-49c7-a07e-be46d53d466b","activeVersionId":"b9571180-63a6-49c7-a07e-be46d53d466b","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-03-17T16:48:51.270Z","createdAt":"2026-03-17T16:48:51.270Z","role":"workflow:owner","workflowId":"uK16AGZ16p1j21CA","projectId":"a64mDqsoeT8uoSAn","project":{"updatedAt":"2026-02-25T13:00:25.604Z","createdAt":"2026-02-25T12:49:40.834Z","id":"a64mDqsoeT8uoSAn","name":"Leandro Mallet <leandro.mallet@teguniao.com.br>","type":"personal","icon":null,"description":null,"creatorId":"7ccc92ba-b4a1-479e-b287-03de75cdbacb"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-17T16:54:51.604Z","createdAt":"2026-03-17T16:54:51.604Z","versionId":"b9571180-63a6-49c7-a07e-be46d53d466b","workflowId":"uK16AGZ16p1j21CA","nodes":[{"parameters":{"httpMethod":"POST","path":"omie/enviar-remessa","responseMode":"responseNode","options":{}},"id":"webhook-remessa-01","name":"Webhook Remessa","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"webhookId":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","onError":"continueRegularOutput"},{"parameters":{"method":"GET","url":"https://uzfjfucrinokeuwpbeie.supabase.co/rest/v1/sys_config?select=chave,valor&chave=in.(omie_app_key,omie_app_secret,omie_sandbox_mode,omie_sandbox_app_key,omie_sandbox_app_secret)","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg"}]},"options":{}},"id":"get-creds-01","name":"Get Omie Credentials","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"language":"javaScript","jsCode":"// Get webhook body\nconst webhookItem = $('Webhook Remessa').first().json;\nconst body = webhookItem.body ?? webhookItem;\nconst contas = body.contas ?? [];\n\n// Get Omie credentials from sys_config rows\nconst configRows = $('Get Omie Credentials').all().map(i => i.json);\nconst cfg = {};\nfor (const row of configRows) {\n  cfg[row.chave] = row.valor;\n}\n\n// Determine sandbox vs production\nconst isSandbox = cfg.omie_sandbox_mode === 'true';\nconst appKey = (isSandbox && cfg.omie_sandbox_app_key) ? cfg.omie_sandbox_app_key : cfg.omie_app_key;\nconst appSecret = (isSandbox && cfg.omie_sandbox_app_secret) ? cfg.omie_sandbox_app_secret : cfg.omie_app_secret;\n\nif (!appKey || !appSecret) {\n  throw new Error('Credenciais Omie nao configuradas em sys_config');\n}\n\nconst OMIE_URL = 'https://app.omie.com.br/api/v1/financas/contapagar/';\nconst SB_URL = 'https://uzfjfucrinokeuwpbeie.supabase.co';\nconst SB_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6ZmpmdWNyaW5va2V1d3BiZWllIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIwMTY1OCwiZXhwIjoyMDg3Nzc3NjU4fQ.IBpdP0V0UNn3Grtc6cbhKeWqN_P1oU6SZYkZG6Ubujg';\nconst SB_HEADERS = {\n  'apikey': SB_KEY,\n  'Authorization': `Bearer ${SB_KEY}`,\n  'Content-Type': 'application/json'\n};\n\nfunction toOmieDate(d) {\n  if (!d) return new Date().toLocaleDateString('pt-BR', {day:'2-digit',month:'2-digit',year:'numeric'});\n  const [y, m, dd] = d.split('-');\n  return `${dd}/${m}/${y}`;\n}\n\nconst resultados = [];\nlet incluidos = 0;\nlet erros = 0;\n\nfor (const cp of contas) {\n  if (!cp.id) continue;\n  if (cp.omie_cp_id) {\n    resultados.push({ cpId: cp.id, omieId: cp.omie_cp_id, status: 'ja_existe' });\n    incluidos++;\n    continue;\n  }\n  try {\n    const omieBody = {\n      call: 'IncluirContaPagar',\n      app_key: appKey,\n      app_secret: appSecret,\n      param: [{\n        cabecalho: {\n          nCodFornecedor: cp.omie_fornecedor_id ?? 0,\n          cNumDocumento: cp.numero_documento ?? `TEG-${cp.id.slice(0,8).toUpperCase()}`,\n          dDtEmissao: toOmieDate(cp.data_emissao),\n          dDtVenc: toOmieDate(cp.data_vencimento),\n          nValorDocumento: Number(cp.valor_original),\n          cObservacao: cp.descricao ?? `CP TEG+ ${cp.id}`\n        }\n      }]\n    };\n    const omieRes = await fetch(OMIE_URL, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(omieBody)\n    });\n    const omieData = await omieRes.json();\n    if (omieData.faultstring) throw new Error(omieData.faultstring);\n    const nCodCP = omieData.nCodCP;\n    await fetch(`${SB_URL}/rest/v1/fin_contas_pagar?id=eq.${cp.id}`, {\n      method: 'PATCH',\n      headers: { ...SB_HEADERS, 'Prefer': 'return=minimal' },\n      body: JSON.stringify({\n        omie_cp_id: nCodCP,\n        remessa_status: 'enviada',\n        remessa_enviada_em: new Date().toISOString(),\n        remessa_id: String(nCodCP)\n      })\n    });\n    resultados.push({ cpId: cp.id, omieId: nCodCP, status: 'incluido' });\n    incluidos++;\n  } catch (err) {\n    const msg = String(err.message ?? 'Erro desconhecido');\n    await fetch(`${SB_URL}/rest/v1/fin_contas_pagar?id=eq.${cp.id}`, {\n      method: 'PATCH',\n      headers: SB_HEADERS,\n      body: JSON.stringify({ remessa_status: 'erro', remessa_erro: msg })\n    });\n    resultados.push({ cpId: cp.id, omieId: null, status: 'erro', mensagem: msg });\n    erros++;\n  }\n}\n\nconst remessaId = `REM-OMIE-${Date.now()}`;\nawait fetch(`${SB_URL}/rest/v1/fin_sync_log`, {\n  method: 'POST',\n  headers: SB_HEADERS,\n  body: JSON.stringify({\n    dominio: 'remessa_pagamento',\n    status: erros === 0 ? 'success' : 'partial',\n    registros: contas.length,\n    mensagem: `Remessa Omie: ${incluidos} incluida(s), ${erros} erro(s). Ambiente: ${isSandbox ? 'teste' : 'producao'}`,\n    executado_por: 'n8n'\n  })\n});\n\nreturn [{ json: { success: true, remessaId, registros: contas.length, incluidos, erros, resultados, ambiente: isSandbox ? 'teste' : 'producao' } }];"},"id":"processar-01","name":"Processar Remessa Omie","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"respond-01","name":"Responder Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,300]}],"connections":{"Webhook Remessa":{"main":[[{"node":"Get Omie Credentials","type":"main","index":0}]]},"Get Omie Credentials":{"main":[[{"node":"Processar Remessa Omie","type":"main","index":0}]]},"Processar Remessa Omie":{"main":[[{"node":"Responder Sucesso","type":"main","index":0}]]}},"authors":"Leandro Mallet","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-17T16:55:09.567Z","id":368,"workflowId":"uK16AGZ16p1j21CA","versionId":"b9571180-63a6-49c7-a07e-be46d53d466b","event":"activated","userId":"7ccc92ba-b4a1-479e-b287-03de75cdbacb"}]}}